.listar {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    }
    
    h1 {
    color: #333;
    }
    
    table {
    width: 100%;
    border-collapse: collapse;
    }
    
    th, td {
    padding: 8px;
    text-align: left;
    }
    
    th {
    background-color: #333;
    color: white;
    }
    
    td {
    border-bottom: 1px solid #ccc;
    }
    
    a {
    text-decoration: none;
    }
    
    button {
    background-color: #333;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    }